<div class="container margin-top pt-5">
    <div class="row align-items-center">
        <div class="col-md-8" *ngIf="!notifyError">
            <h1>Phakebook</h1>
            <h3>Phakebook giúp bạn kết nối và chia sẻ với mọi người trong cuộc sống của bạn</h3>
        </div>
        <div [class.col-md-3]="notifyError"></div>
        <div class="col-md-4" [class.col-md-6]="notifyError">
            <h1 class="text-center mb-3" *ngIf="notifyError">Phakebook</h1>
            <form class="login p-3 shadow-sm bg-white" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="form-group">
                    <input type="email" class="form-control py-4" placeholder="Enter email" formControlName="email">
                </div>
                <div *ngIf="notifyError">
                    <ng-container *ngIf="loginForm.controls.email.errors">
                        <div class="alert alert-danger p-2" role="alert">
                            Email không chính xác
                        </div>
                    </ng-container>
                </div>


                <div class="form-group">
                    <input type="password" class="form-control py-4" placeholder="Enter password"
                        formControlName="password">
                </div>
                <div *ngIf="notifyError">
                    <ng-container *ngIf="loginForm.controls.password.errors">
                        <div class="alert alert-danger p-2" role="alert">
                            Mật khẩu ít nhất là 8 kí tự
                        </div>
                    </ng-container>
                </div>


                <ng-container *ngIf="error">
                    <div class="alert alert-danger p-2" role="alert">
                        Email hoặc mật khẩu không chính xác
                    </div>
                </ng-container>

                <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>

                <div class="text-center mt-3 border-bottom pb-3">
                    <a class="text-primary text-decoration-none custom-pointer">Quên mật
                        khẩu</a>
                </div>

                <div class="text-center mt-3">
                    <button class="btn btn-success" routerLink='/sign-up'>Tạo tài khoản mới</button>
                </div>
            </form>
        </div>
        <div [class.col-md-3]="notifyError">
        </div>
    </div>
</div>