.header {
  background: white;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
}
.border-custom {
  border-radius: 25px;
}
.icon {
  width: 33px !important;
  height: 33px !important;
  line-height: 33px;
}
.right {
  width: 220px;
  max-width: 100%;
}
.blur-custom {
  position: relative;
  z-index: 2;
}
