<header>
    <div class class="container-fluid head">
        <div class="row text-center d-flex justify-content-center header-text">
            <h1>Fakebo0k<br />was made by team 01 HN20_FRF_PAD_02</h1>
        </div>
    </div>
</header>
<main>
    <div class="container-fluid">
        <div class="row tab-main d-flex align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 order0">
                <h2>Trịnh Minh Đức</h2>
                <p class="d-flex align-items-center">
                    Năm sinh:1992 <br />
                    Là 1 thành viên của team Dev cũng như người anh cả của cả team, với
                    tính cách nhiệt tình, năng nổ hoạt náo của anh đi cùng với đó là nguồn
                    kiến thức tuyệt vời hầu hết trên mọi lĩnh vực, anh đã chứng tỏ mình là
                    1 thành viên cốt cán.
                </p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center order1">
                <img src="../../../../assets/tranminhduc.jpg" alt="" />
            </div>
        </div>
        <div class="row tab-main d-flex align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center order1">
                <img src="../../../../assets/doanvanmanh.jpg">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 order0">
                <h2>Đoàn Văn Mạnh</h2>
                <p class="d-flex align-items-center">
                    Năm sinh: 1996 <br />
                    Là thành viên thứ 2 của team, anh là một người yêu nghề, luôn quan tâm
                    đến chất lượng của sản phẩm của mình làm ra. Anh sẽ luôn mang lại cảm
                    giác tốt nhất đến với người dùng, cùng với đó là một kho tàng kiến
                    thức to lớn, sự nhiệt huyết nên sự đóng góp của anh cho sản phẩm ko hề
                    nhỏ
                </p>
            </div>
        </div>
        <div class="row tab-main d-flex align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 order0">
                <h2>Ngô Duy Đức</h2>
                <p class="d-flex align-items-center">
                    Năm sinh: 2000 <br />
                    Là thành viên trẻ tuổi nhất team, với tính cách tò mò, đam mê tìm tòi
                    những thứ mới lạ Tham gia phát triến sản phẩm này, với sự giúp đỡ của
                    những anh giàu kinh nghiệm. Nên đã hoàn thành yêu cầu đề ra
                </p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center order1">
                <img src="../../../../assets/me.jpg" alt="" />
            </div>
        </div>
    </div>
</main>