<div class=" container mt-5 ">
  <div class="row">
    <div class="col-md-3"></div>
    <!-- Show details -->
    <div class="col-md-6 shadow-lg p-3 mb-5 bg-white rounded">
      <div class="d-flex mb-3">
        <!-- avatar -->
        <img class="rounded-circle" src="https://static.productionready.io/images/smiley-cyrus.jpg" alt="" width="33px"
          height="33px" />
        <!-- information User -->
        <div class="ml-2">
          <h6>{{articleDetails.author?.username}}</h6>
          <p>{{articleDetails.createdAt |date :'short'}}</p>
        </div>
        <!-- follow functionality -->
        <div class="ml-auto">
          <button type="button" class="btn btn-outline-secondary mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
              viewBox="0 0 16 16">
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
            Follow user
          </button>

          <button type="button" class="btn btn-outline-success">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
              viewBox="0 0 16 16">
              <path
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
            </svg>
            Favorite Article
          </button>
        </div>
      </div>
      <!-- content article -->
      <h5 class="mb-1">{{articleDetails['title']}}</h5>
      <p class="mb-2">{{articleDetails.body}}</p>

      <ng-container *ngFor="let tag of articleDetails.tagList">
        <span class="badge bg-secondary text-white mr-2 p-2">{{tag}}</span>
      </ng-container>

      <div class="row border-top border-bottom mx-0 my-2">
        <div class="col-md-4 text-center">
          <button class="custom-button bg-white p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
              viewBox="0 0 16 16">
              <path
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
            </svg> Like</button>
        </div>
        <div class="col-md-4 text-center">
          <button class="custom-button bg-white p-2" (click)="onComment()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots"
              viewBox="0 0 16 16">
              <path
                d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
              <path
                d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z" />
            </svg> Comment</button>
        </div>
        <div class="col-md-4 text-center">
          <button class="custom-button bg-white p-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
              <path
                d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
            </svg> Share</button>
        </div>
      </div>

      <!-- show and add comments -->
      <div class="mt-2">
        <app-comment [comments]="comments"></app-comment>
      </div>
      <div class="mt-2">
        <app-add-comment [article]="articleDetails" (mycomment)="addNewComment($event)"></app-add-comment>
      </div>
    </div>

    <div class="col-md-3"></div>
  </div>
</div>