<div class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <app-add-new *ngIf="authService.isLogIn()"></app-add-new>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link">My Feed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Global</a>
                    </li>
                </ul>
                <div class="card border-0 shadow-sm p-0 mb-5 bg-white rounded">
                    <app-articles></app-articles>
                    <app-comment></app-comment>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-light p-2">
                    <p>Popular Tags</p>
                    <span class="badge badge-secondary">Secondary</span>
                </div>
            </div>
        </div>


    </div>
</div>