.active {
  color: #388e3c;
  border-bottom: 3px solid #388e3c;
  cursor: pointer;
}
.font-custom {
  font-size: 16px;
  color: hsl(0, 0%, 62%);
}
.pointer {
  cursor: pointer;
}
.position-top {
  top: 76px;
}
.tags span {
  font-size: 12px !important;
}
.list-group {
  .list-group-item {
    background: none;
  }
  .list-group-item:hover {
    background: #e0e0e0;
  }
}
