<div class="mt-5 postition-relative">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div *ngIf="authService.isLogIn()" class="sticky-top position-top">
          <app-sidebar></app-sidebar>
        </div>
      </div>

      <!-- home display -->
      <div class="col-md-6 home" (scroll)="onScroll($event)">
        <!-- add new article -->
        <app-add-new *ngIf="authService.isLogIn()" [user]="userData" (isPost)="getDataGlobal($event)">
        </app-add-new>

        <!-- nav feed -->
        <ul class="nav mb-3">
          <li class="nav-item custom-pointer" *ngIf="authService.isLogIn()" (click)="feedView()">
            <a class="font-custom nav-link" [class.active]="mode === 'myfeed'">Bảng Tin</a>
          </li>
          <li class="nav-item custom-pointer" (click)="globalView()">
            <a class="font-custom nav-link" [class.active]="mode === 'global'">Cộng đồng</a>
          </li>
          <li class="nav-item custom-pointer" *ngIf="mode === 'tagArticle'">
            <a class="font-custom nav-link" [class.active]="mode === 'tagArticle'">{{ chooseTag }}</a>
          </li>
        </ul>
        <!-- show feed -->
        <div>
          <div *ngIf="mode === 'global'">
            <ng-container *ngFor="let article of globalArticles">
              <app-articles [article]="article" [slug]="article.slug"></app-articles>
            </ng-container>
          </div>

          <div *ngIf="mode === 'myfeed'">
            <div *ngIf="authService.isLogIn() && feedArticles.length === 0"
              class="border-0 shadow p-3 bg-white rounded">
              No articles are here... yet.
            </div>

            <ng-container *ngFor="let article of feedArticles">
              <app-articles [article]="article" [slug]="article.slug"></app-articles>
            </ng-container>
          </div>

          <!--  -->

          <div *ngIf="mode === 'tagArticle'">
            <ng-container *ngFor="let article of tagArticles">
              <app-articles [article]="article" [slug]="article.slug"></app-articles>
            </ng-container>

          </div>
        </div>
      </div>

      <!-- show tag popular -->
      <div class="col-md-3">
        <div class="sticky-top position-top">
          <div class="tags p-2 mb-3 border-bottom">
            <h6 class="mb-2">Popular Tags</h6>
            <span class="pointer btn btn-secondary m-1" *ngFor="let tag of tags" (click)="getListArticlesByTag(tag)">{{
              tag }}</span>
          </div>

          <div *ngIf="authService.isLogIn()" class="contact p-2">
            <div class="mb-3 d-flex justify-content-between">
              <h6>Người liên hệ</h6>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-search custom-pointer" viewBox="0 0 16 16">
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
              </div>
            </div>
            <div class="list-group border-0">
              <a href="#" class="list-group-item list-group-item-action border-0 p-2" *ngFor="let friend of friends">
                <p class="font-weight-bold">{{friend}}</p>
              </a>
            </div>

          </div>
        </div>


      </div>
    </div>

  </div>