<div class="home margin-top">
  <div class="left">
    <div *ngIf="authService.isLogIn()">
      <app-sidebar></app-sidebar>
    </div>
  </div>

  <div class="container">
    <div *ngIf="authService.isLogIn()">
      <app-add-new [user]="authService.currentUser" (isPost)="getDataAgain($event)"></app-add-new>
    </div>
    <ul class="nav mb-3">
      <li class="nav-item custom-pointer" *ngIf="authService.isLogIn()" routerLink="news">
        <a class="font-custom nav-link" routerLinkActive="active">Bảng Tin</a>
      </li>
      <li class="nav-item custom-pointer" routerLink="community">
        <a class="font-custom nav-link" routerLinkActive="active">Cộng đồng</a>
      </li>
      <li class="nav-item custom-pointer" *ngIf="isViewTag">
        <a class="font-custom nav-link" [class.active]="isViewTag">{{ chooseTag }}</a>
      </li>
    </ul>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>


  <div class="right">
    <div class="tags p-2 mb-3 border-bottom">
      <h6 class="mb-2">Popular Tags</h6>
      <span class="custom-pointer btn btn-secondary m-1" *ngFor="let tag of tags" (click)="getListArticlesByTag(tag)">{{
        tag }}</span>
    </div>

    <div *ngIf="authService.isLogIn()" class="contact p-2">
      <app-messages [listFriends]='friends'></app-messages>
    </div>
  </div>
</div>