.left {
  position: fixed;
  top: 5.5rem;
  left: 1rem;
  width: 220px;
}
.right {
  position: fixed;
  right: 1rem;
  top: 6rem;
  width: 220px;
}
@media (min-width: 1400px) {
  .left,
  .right {
    width: 350px;
  }
  .container {
    max-width: 960px;
  }
}

@media (min-width: 820px) and (max-width: 1368px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 820px) {
  .container {
    max-width: 570px;
    margin: 0;
  }
  .left {
    display: none;
  }
}

.active {
  color: #388e3c;
  border-bottom: 3px solid #388e3c;
  cursor: pointer;
}

.font-custom {
  font-size: 16px;
  color: hsl(0, 0%, 62%);
}

.tags span {
  font-size: 12px !important;
}
