<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" />
<div class="footer">
    <ul class="social-network social-circle">
        <li>
            <a class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
            <a class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
            <a class="icoMedium" title="Medium"><i class="fa fa-medium"></i></a>
        </li>
        <li>
            <a class="icoQuora" title="Quora"><i class="fa fa-quora"></i></a>
        </li>
        <li>
            <a class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
            <a class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a>
        </li>
    </ul>
    <div class="mt-2">
        <p>
            Copyright &copy; by ManhDV5 - DucND14 - DucTM27 class HN20_FRF_PAD_02. Your Website 2021
            <a class="ml-1" routerLink="/about-us">About us</a>
        </p>
    </div>
</div>