/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

body {
  background-color: #f0f2f5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.custom-padding {
  padding: 0.375rem 0.75rem;
}
.custom-pointer {
  cursor: pointer;
}

.modal-dialog {
  margin-top: 5rem !important;
}
.custom-button,
.custom-input,
.custom-input:focus,
.custom-button:focus {
  border: none !important;
  outline: none !important;
}

.scroll-custom {
  height: 70vh;
  max-height: 70vh;
  overflow-y: none;
}

.scroll-custom:hover {
  overflow-y: scroll;
}

.scroll-custom::-webkit-scrollbar {
  width: 20px;
}

.scroll-custom::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.list-group {
  .list-group-item {
    background: none;
  }
  .list-group-item:hover {
    background: #e0e0e0;
  }
}

.margin-top {
  margin-top: 7rem;
}

.modal-content {
  padding-top: 40vh;
  background: none;
  border: none;
  text-align: center;
}
