<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form class="border rounded p-5  bg-white" [formGroup]="formSignUp" (ngSubmit)="onSubmit()">
                <h3 class="mb-4 text-uppercase">Sign Up</h3>
                <ng-container>
                    <div class="alert alert-danger" role="alert" *ngIf="hasError">
                        <p>UserName or Email has already been taken</p>
                    </div>
                </ng-container>

                <div class="form-group">
                    <input type="text" class="form-control" formControlName="username" placeholder="User name">
                    <ng-container>
                        <div class="alert alert-danger custom-padding mt-2" role="alert"
                            *ngIf="getError('username').errors && getError('username')?.touched">
                            <p *ngIf="getError('username').errors.required">UserName is required</p>
                            <p *ngIf="getError('username').errors.maxlength">UserName is too long (maximum is 20
                                characters)</p>
                        </div>
                    </ng-container>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" formControlName="email" placeholder="Email">
                    <ng-container>
                        <div class="alert alert-danger custom-padding mt-2" role="alert"
                            *ngIf="getError('email').errors && getError('email')?.touched">
                            <p *ngIf="getError('email').errors.required">Email is required</p>
                            <p *ngIf="getError('email').errors.email">Email is incorrect</p>
                        </div>
                    </ng-container>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" formControlName="password" placeholder="Password">
                    <ng-container>
                        <div class="alert alert-danger custom-padding mt-2" role="alert"
                            *ngIf="getError('password').errors && getError('password')?.touched">
                            <p *ngIf="getError('password').errors.required">Password is required</p>
                            <p *ngIf="getError('password').errors.minlength">Password is too long (min is 8 characters)
                            </p>
                        </div>
                    </ng-container>
                </div>
                <button type="submit" class="btn btn-primary w-100" [disabled]="formSignUp.invalid">Sign Up</button>
                <p class="text-center mt-3">Already have an account? <span class="text-success">Login here</span></p>


            </form>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>