.profile {
  margin-top: 4rem;
  min-height: 270px;
  position: relative;
  .container {
    position: relative;
    z-index: 1000;
  }
}
.font-custom {
  font-size: 16px;
  color: #9e9e9e;
}
.active {
  color: #388e3c;
  border-bottom: 3px solid #388e3c;
  cursor: pointer;
}

.bg-gradient {
  background: url(../../../../assets/background.jpg);
  background-position: center center;
  background-size: cover;
}
